*{
    padding: 0px;
    margin: 0px;
}
body {
    background-image: url('./images/bg-pattern-bottom.svg');
    background-color: hsl(185, 75%, 39%);
    font-family: "Kumbh Sans", sans-serif;
    font-optical-sizing: auto;
}

main {
    height: 28rem;
    width: 25%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 10%;
}

.background {
    height: 30%;



}

.background img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content {
    height: 50%;
    border-bottom: 1px solid hsla(0, 0%, 59%, 0.573);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;

}
.content h2{
    border: 2px solid floralwhite;
    text-align: center;
    color: hsl(229, 23%, 23%);
    font-weight: 600;
    font-size: 1.8em;
}
.content span{
    color: hsla(0, 0%, 59%, 0.573);
}
.content p{
    border: 2px solid floralwhite;
    text-align: center;
    color:  hsl(0, 0%, 59%);
    font-size: 1.3em;
}

.ratings {
    height: 20%;
    background: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

}

.content img{position: absolute;
    top: 35%;
    border-radius: 50%;
    border: 5px solid white;

}

.ratings h1{
    color: hsl(229, 23%, 23%);
}
.ratings p{
    color: hsla(0, 0%, 59%, 0.573);
}

@media (max-width:650px) {
   main{
    width: 90%;
   } 
   .content img{
    top: 20%;

   }
}
@media (min-width:651px) and (max-width:800px) {
    main{
     width: 70%;
    } 
    .content img{
     top: 25%;
 
    }
 }
 @media (min-width:801px) and (max-width:900px) {
    main{
     width: 60%;
    } 
    .content img{
     top: 25%;
 
    }
 }
 @media (min-width:901px) and (max-width:1200px) {
    main{
     width: 40%;
    } 
    .content img{
     top: 30%;
 
    }
 }
 @media (min-width:1201px) and (max-width:1450px) {
    main{
     width: 30%;
    } 
    .content img{
     top: 30%;
 
    }
 }